1. Display bowler wise super over count
2. Display bowler wise wicket count
3. Display the match in which least overs were played
4. Display the player who has caught maximum wickets
5. How many 6's have been hit in each match

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('deliveries.csv')

In [3]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [65]:
#1
t=df.groupby('bowler')['is_super_over']
t

AttributeError: Cannot access callable attribute 'notnull' of 'SeriesGroupBy' objects, try using the 'apply' method

In [15]:
#2
test=df.groupby('bowler')['player_dismissed']

In [16]:
test.count()

bowler
A Ashish Reddy     19
A Chandila         11
A Choudhary         5
A Flintoff          2
A Kumble           49
                 ...
YA Abdulla         15
YK Pathan          45
YS Chahal          72
Yuvraj Singh       39
Z Khan            119
Name: player_dismissed, Length: 356, dtype: int64

In [26]:
#3
test1=df.groupby(['match_id','over'])['over'].sum()

In [52]:
test1.head(10)

match_id  over
1         1        13
          2        26
          3        36
          4        52
          5        65
          6        72
          7        84
          8        96
          9       117
          10      130
Name: over, dtype: int64

In [43]:
#4
test2=df.groupby(['fielder','dismissal_kind'])['fielder'].max()

In [51]:
test2['dismissal_kind'=='caught']

'A Ashish Reddy'

In [62]:
#5
test3=df.groupby(['match_id','batsman_runs'])['match_id'].count()

In [63]:
test3.head()

match_id  batsman_runs
1         0                81
          1               101
          2                16
          3                 1
          4                32
Name: match_id, dtype: int64

In [72]:
test4=df.groupby(['batsman'])["batsman_runs"].sum(lambda x: (x==4).count()).reset_index().sort_values(by="batsman_runs",ascending=False).reset_index(drop=True)

TypeError: f() takes 1 positional argument but 2 were given

In [73]:
test4

            batsman  batsman_runs
0           V Kohli          3494
1         G Gambhir          3433
2          SK Raina          3369
3         RG Sharma          3274
4          S Dhawan          3005
..              ...           ...
456       S Kaushik             1
457   DP Vijaykumar             1
458  V Pratap Singh             1
459          U Kaul             1
460   NJ Rimmington             1

[461 rows x 2 columns]