# Which type (Type 1) has the highest number of Legendary Pokemons?

# Find how many Pokemons which have a single type (Type 1 present and Type 2 absent)

In [1]:
#1
import pandas as pd

In [2]:
df=pd.read_csv('pokemon.csv')

In [24]:
test=df.groupby('Type 1')['Legendary'].sum()

In [8]:
highest_legend_poks=test.sort_values(ascending=False)

highest_legend_poks.index[0]

'Psychic'

In [43]:
#2
df[df.'Type 1'==notnull] & df[df.'Type 2'==isnull]

SyntaxError: invalid syntax (<ipython-input-43-4f2a1b82162c>, line 2)

In [21]:
data

0     True
1     True
2     True
3     True
4    False
Name: Type 2, dtype: bool

In [41]:
#1
df[df['Legendary']==True]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,157,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
157,158,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
158,159,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
162,163,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,164,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True